target/
**/target
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/test/

classroom/classroom-web/src/main/resources/static

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

classroom.sql


### LOG ###
logs